/docs/
/lib/
/utils/tar/lib/
/utils/tar/bin/
/utils/tar/tmp/
/bin/
/.shards/
*.dwarf
*.swp
*.swo
/cnfs
/results
/tools/chaos_mesh
/tools/helm
/tools/sonobuoy
/tools/cluster-api
/tools/airgapped_kind/kind_node/node.tar.gz
admin.conf
cnf-testsuite
results.yml
cnf-testsuite-results*
cnf-testsuite.env
cnf-conformance.env
cnf-testsuite*.tar*
*.tar
reasonable_startup_orig.yml
reasonable_startup_test.yml
cri_tools.yml
ephemeral_env 
kubeconfig.conf 
linux-amd64/
reasonable_startup_orig_gobal.yml
reasonable_startup_orig_local.yml
sam.cr
github.env
tools/k8s-infra/
tmp/
chaos_network_loss.yml
chaos_cpu_hog.yml
chaos_container_kill.yml
/.idea/
*.log
points.yml
/tools/cri-tools-manifest.yml
cri-tools-manifest.yml
containerd-*-linux-amd64.tar.gz
crictl-*-linux-amd64.tar.gz
tools/LICENSE
airgapped.tar.gz
airgaptest.tar.gz
/cnf-testsuite.yml
/*.tgz
falco_rule.yaml
/enforce-image-tag.yml
/constraint_template.yml
/install.sh
/tools/kubescape/kubescape
/tools/kind
/kubescape_results.json
/cilium
/tigera-operator
/disable_cni.yml
/cluster_tools.yml
