/docs/
/lib/
/bin/
/.shards/
*.dwarf
*.swp
*.swo
/cnfs
/results
/tools/chaos_mesh
/tools/helm
/tools/sonobuoy
admin.conf
cnf-conformance
results.yml
cnf-conformance-results*
cnf-conformance.env
*.tar
*.tar*
