/docs/
/lib/
/bin/
/.shards/
*.dwarf
*.swp
*.swo
/cnfs
/results
/tools/chaos_mesh
/tools/helm
/tools/sonobuoy
admin.conf
kubeconfig.conf
cnf-conformance
results.yml
cnf-conformance-results*
cnf-conformance.env
*.tar
*.tar*
ephemeral_env
example-cnfs/coredns/reasonable_startup_orig.yml
example-cnfs/coredns/reasonable_startup_test.yml
sample-cnfs/sample-coredns-cnf/reasonable_startup_orig.yml
sample-cnfs/sample-coredns-cnf/reasonable_startup_test.yml
sample-cnfs/sample_coredns/reasonable_startup_orig.yml
sample-cnfs/sample_coredns/reasonable_startup_test.yml
sample-cnfs/sample_envoy_slow_startup/reasonable_startup_orig.yml
sample-cnfs/sample_envoy_slow_startup/reasonable_startup_test.yml
tools/k8s-infra/
