# TODO document env file
export GITHUB_USER=YOUR-USER-NAME
export GITHUB_TOKEN=YOUR-ACCESS-TOKEN
export DOCKERHUB_USERNAME=<your docker hub username>
export DOCKERHUB_PASSWORD=<your docker hub password>
