export GITHUB_USER=
export GITHUB_TOKEN=
export DOCKERHUB_USERNAME=
export DOCKERHUB_PASSWORD=
export PROTECTED_DOCKERHUB_EMAIL=
export PROTECTED_DOCKERHUB_USERNAME=$DOCKERHUB_USERNAME
export PROTECTED_DOCKERHUB_PASSWORD=$DOCKERHUB_PASSWORD
