{{ $open5gsName := .Release.Name }}

logger:
  level: {{ .Values.config.logLevel }}
parameter: {}

sgwu:
  pfcp:
    - dev: "eth0"
      port: {{ .Values.containerPorts.pfcp }}
  gtpu:
    - dev:  {{ default "eth0" .Values.config.sgwu.gtpu.dev }}
      port: {{ .Values.containerPorts.gtpu }}
      {{- if .Values.config.sgwu.gtpu.advertise }}
      advertise: "{{ tpl .Values.config.sgwu.gtpu.advertise . }}"
      {{- end }}

sgwc:
  pfcp:
    - name: {{ default (printf "%s-sgwc-pfcp" $open5gsName) .Values.config.sgwc.pfcp.hostname }}
      port: {{ .Values.config.sgwc.pfcp.port }}
