apiVersion: v1
kind: ConfigMap
metadata:
  name: '<%= @release_name %>'
<% if @immutable %>
immutable: true
<% end %>
data:
  startup_time: '<%= @elapsed_time %>'
  helm_used: '<%= @helm_used %>'
  tracing_used: '<%= @tracing_used %>'
