apiVersion: v1
kind: ConfigMap
metadata:
  name: '<%= @name %>'
<% if @immutable %>
immutable: true
<% end %>
data:
  open_metrics_validated: '<%= @open_metrics_validated %>'
  open_metrics_response: '<%= @open_metrics_response %>'
