apiVersion: chaos-mesh.org/v1alpha1
kind: StressChaos
metadata:
  name: burn-cpu
  namespace: default
spec:
  mode: one
  selector:
    labelSelectors:
      <% @labels.each do |label| %>
      '<%= label[0] %>': '<%= label[1] %>'
      <% end %>
  stressors:
    cpu:
      workers: 1
      load: 100
      options: ['-c 0']
  duration: '40s'
  scheduler:
    cron: '@every 600s'