apiVersion: chaos-mesh.org/v1alpha1
kind: NetworkChaos
metadata:
  name: network-loss
  namespace: default
spec:
  action: loss
  mode: one
  selector:
    labelSelectors:
      <% @labels.each do |label| %>
      '<%= label[0] %>': '<%= label[1] %>'
      <% end %>
  loss:
    loss: '100'
    correlation: '100'
  duration: '40s'
  scheduler:
    cron: '@every 600s'
